<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Taskan</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="https://fb.me/react-0.14.3.min.js"></script>
  <script src="https://fb.me/react-dom-0.14.3.min.js"></script>-->
  <!--webフォント-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <!--ドラッグアンドドロップ設定-->
  <script>
    function onDragStart( $event ) {
      $event.dataTransfer.setData( "text/html", $event.target.id );
      //$('#team_' +team_id+ '_member').empty();

    }

    function onDrop( $event, $this ) {
      $event.preventDefault();
      var $data = $event.dataTransfer.getData( "text/html" );
      id_date=($this.id).split("_")
      $this.appendChild( document.getElementById($data) );
      console.log($data);
      console.log($this);
        // 送信
        $.ajax({
          url: '/tasks/' + $data + '.json',
          type: 'patch',
          data: {user_id: id_date[0],date: id_date[1]},
          timeout: 10000
        });
      }

      function onDragOver( $event ) {
        $event.preventDefault();
      }
    </script>

  </head>
  <body>
    <header>
      <div class=contents>
        <nav class="navbar navbar-default topbar">
          <div class="container-fluid">
            <div class="navbar-header">
              <button class="navbar-toggle" data-toggle="collapse" data-target="#collapse-target">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="logo navbar_logo_size" <a href="/" class="navbar-brand">taskan</a></div>
            </div>

            <div class="collapse navbar-collapse" id="collapse-target">
              <ul class="nav navbar-nav">
                <% if user_signed_in? %>
                <li><strong><p class="navbar-text">　<%= current_user.user_name%></p></strong></li>
                <li><%= link_to '分析', analyze_tasks_path(user_id: current_user.id) %></li>
                <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
                <li><a id='tutorial'>チーム管理の使い方</a></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
                <% else %>
                <li><%= link_to 'サインアップ', new_user_registration_path %></li>
                <li><%= link_to 'ログイン', new_user_session_path %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <%= yield %>
    </div>
  </body>
  </html>
